[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Exec=Android/android-studio/bin/studio.sh
Icon=Android/android-studio/bin/studio.png
Terminal=false
Categories=Utility;Development;
